body, html {
  margin: 0px;
  padding: 0px;
}
.serach {
  margin-bottom: 40px;
}
.wrap {
  padding: 20px;
}
.content {
  width: 100%;
  display: flex;
}
.table-content {
  flex-basis: 60%;
  padding: 20px;
}
.body-content {
  flex-basis: 40%;
  padding: 20px;
  border: 1px solid #dedede;
}
.comments-content {
  flex-basis: 40%;
  padding: 20px;
  border: 1px solid #dedede;
}